@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

@font-face {
  font-family: mkcfont;
  src: url('/assets/fonts/GothamLight.ttf');
}

@font-face {
  font-family: mkcfont;
  src: url('/assets/fonts/GothamBlack.otf');
  font-weight: 500;
}
@font-face {
  font-family: mkcfont;
  src: url('/assets/fonts/GothamBook.ttf');
  font-weight: bold;
}

*{
  font-family: 'Nunito Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); ; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6); ; 
} */


.overlay{
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
  }

 .logo{
   position: absolute;
   z-index: 999;
   width: 10rem;
   
 }
.navIcon{
  transition:0.5s ease;
}
 .navIcon:hover{
   background:  rgba(0, 0, 0, 0.2);
 }
 .menu-item {
  margin-top: -10px;
  padding-right: 35px;
  text-decoration: none;  
  display: inline-block;
  cursor: pointer;
}
 .menu-item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #C0C91E;
  content: "";
  display: block;
  height: 4px;
  width: 0;
}
.menu-item:hover:after {
  width: 100%;
}
.lifeHover{
  transition: all 1s ease;
  overflow: hidden;
}
.lifeHover:hover{
 background-size: 200%;
}

@media screen and (min-width:1200px){
  .indexBg{
    animation: zoom 30s infinite;
    -webkit-animation: zoom 30s infinite;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@keyframes zoom {
  0% {
    background-size: 100%;

  }
  50% {
    background-size: 130%;
  }
  100% {
    background-size: 100%;
  }
}

/* SPALSH SCREEN ANIMATION */
.splash{
  animation: fadeAnim 5s;
  overflow: hidden;
}
.splash-image{
  opacity:0;
  animation: fadeImage 5s;
}
@keyframes fadeAnim {
  0% {
    background-color: rgba(255, 255, 255,1);
  }
  75% {
    background-color: rgba(255, 255, 255,1);
  }
  100% {
    background-color: rgba(255, 255, 255,0);
  }
}
@keyframes fadeImage {
  0% {
   opacity: 1;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.focus\:ring-blue-500:focus {
  --tw-ring-color: rgba(170, 115, 172,1) !important;
}
.focus\:ring-blue-500 {
  --tw-ring-color: rgba(170, 115, 172,1) !important;
}

.compo1{
background-color: rgba(53, 59, 72,0.65);
transition: 0.5s ease;
}
.compo1:hover{
  background-color: rgba(53, 59, 72,0.9);

}
.compo2{
background-color: rgba(113, 128, 147,0.65);
transition: 0.5s ease;
}
.compo2:hover{
  background-color: rgba(113, 128, 147,0.9);

}

.sectorItem:hover{
  transform: scale(1.2,1.2);
}
.lifeItem{
  min-height: 14rem;
}
@media (min-width: 1024px) {
  .lifeItem {
      height: 34rem/* 384px */;
  }
  .mr-50vw{
    margin-right: 50vw;
  }
}


.lifeText::after{
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #C0C91E;
  content: "";
  display: block;
  height: 10px;
  width: 0;
  margin-top: 90%;
}
.lifeText:hover:after {
  width: 100%;
}
@media (min-width: 1920px) {
  .leadersMargin{
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
@media (max-width: 1024px) { 
  .lifeItem {
    height: 10rem;
}
.lifeText::after{
  height: 5px;
  margin-top:10px;

}
.lifeText:hover:after {
  width: 50%;
}
 }

.component-container{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.01);
  transition: all 0.5s ease-in;
} 
.component-container:hover{
 box-shadow: 2px 3px 20px rgba(0,0,0,0.05);
} 
