.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slideTexts{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  user-select: none;

}

.homeTextFade{
  animation: textfade 4s infinite;
}

@keyframes textfade {
  0% {top: 200px; opacity:0;}
  25% {top: 100px; opacity:1;}
  50% {top: 100px;}
  90% {top: 100px; opacity:1;}
  100% {top: 0px; opacity:0;}
}
.slideImageFade{
  animation: imgFade 4s infinite;

}

@keyframes imgFade {
  0% {opacity:1;}
  25% {opacity:1;}
  50% {opacity:1;}
  75% {opacity:1;}
  100% {opacity:0;}
}